<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @farm.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @farm.location %>
</p>

<p>
  <strong>Address:</strong>
  <%= @farm.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @farm.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @farm.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @farm.zip %>
</p>

<p>
  <strong>County:</strong>
  <%= @farm.county %>
</p>

<p>
  <strong>Country:</strong>
  <%= @farm.country %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @farm.owner %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @farm.phone %>
</p>

<p>
  <strong>Certifications:</strong>
  <%= @farm.certifications %>
</p>

<p>
  <strong>Website:</strong>
  <%= @farm.website %>
</p>

<%= link_to 'Edit', edit_farm_path(@farm) %> |
<%= link_to 'Back', farms_path %>
