<script src="//maps.google.com/maps/api/js?v=3.13&sensor=false&libraries=geometry" type="text/javascript"></script>
<script src="//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js" type="text/javascript"></script>
<script src='//google-maps-utility-library-v3.googlecode.com/svn/trunk/richmarker/src/richmarker-compiled.js' type='text/javascript'></script>
<script src='//google-maps-utility-library-v3.googlecode.com/svn/tags/infobox/1.1.9/src/infobox_packed.js' type='text/javascript'></script>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="page-header">
				<h1><%=link_to "Trip Planner - Asheville, NC", root_path %></h1>
			</div>
		</div>
	</div>
	<div class="row row-offcanvas row-offcanvas-right">
		<div class="col-md-6">
			<% flash.each do |name, msg| %>
				<div class="alert alert-info alert-dismissiable">
					<center><strong><%= msg %></strong></center>
				</div>
			<% end %>
			<h3><%= @trip.name %></h3>
			<table class="table table-hover">
			 <thead>
				<tr>
				 <th></th>
				 <th>Name</th>
				 <th>Description</th>
				 <th></th>
				 <th></th>
				</tr>
			 </thead>

			 <tbody class='sortable'>
				<% @trip.markets.each do |market| %>
				 <tr id='market_<%= market.id %>' class="ui-state-default" data-trip_id='<%=@trip.id %>'>
					 <td class="handle"><%= image_tag("drag_arrow.png", width:'50px')%></td>
					 <td><%= link_to market.name, market.website %></td>
					 <td><%= market.description %></td>
					 <td><%= image_tag(market.image, height:'100px') %></td>
				 	 <td><%= button_to "Remove", trip_ranking_path(trip_id:@trip.id, market_id:market.id), method: "delete", class:"btn btn-danger btn-xs" %></td>
				 </tr>
				<% end %>
			 </tbody>
			</table>
		</div>
		<div class="col-md-6 sidebar-offcanvas" id="sidebar" role="navigation">
			<ul class=list-group"><%= button_to "Add", new_market_path, method: "get", class:"btn btn-primary btn-xs pull-right" %>
			<h3>Activities</h3>
				<% @markets.each do |market| %>
					<% if !@trip.markets.where(id: market.id).exists? %>
					<li class="list-group-item"><%= link_to(market.name, trip_rankings_path(@trip, market_id:market.id), method: "create") %>
						<% i=0 %>
						<% for i in 1..market.rating %>	
							<%= image_tag("star.png", width:'15px') %>
						<% end %>	
						<% if i < market.rating %>
							<%= image_tag("star_half.png", width:'15px') %>
						<% end %>
					</li>
					<% end %>
				<% end %>
			</ul>
		</div>
	</div>
	
	<hr>

	<div class="container">
		<div id="map" style="height:300px;" ></div>
	</div>
</div>

<script type="text/javascript">
	buildMap(<%=raw @hash.to_json %>);
	
	$(function(){
		$('.sortable').sortable({
			dropOnEmpty: false,
			cursor: 'crosshair',
			items: 'tr',
			opacity: 0.4,
			scroll: true,
			handle: '.handle',
			revert: true,
			update: function(event, ui){
				var trip_id = ui.item.attr('data-trip_id');
				$.ajax({
					data: $(this).sortable('serialize'),
					type: 'post',
					url: '/trips/'+trip_id+'/sort',
					dataType: 'script',
					complete: function(request){
						$('.sortable').effect('highlight');
					}
				});
			}
		});
	});
</script>
