<div class="container">
	<div class="page-header">
		<h1><%=link_to "Trip Planner", root_path %> - <%= @trip.name %></h1>
	</div>
<%= render 'form' %>
</div>
<script>
	$('#star').raty({
		size:50,
		readOnly: true,
		score: <%= @market.rating %>,
		path: '/assets'
	});

	$('#user_star').raty({
		size:50,
		score: <%= @rating.score %>,
		path: '/assets',
		click: function(score, evt) {
			$.ajax({
				url: '/ratings',
				method: 'post',
				data: { score: score, market: <%= @market.id %>, trip_id: <%= @trip.id %> }
			}).done(function (data){});
		}
	});
</script>
