<%= form_for(@market) do |f| %>
  <% if @market.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@market.errors.count, "error") %> prohibited this market from being saved:</h2>

      <ul>
      <% @market.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :website %><br>
    <%= f.text_field :website %>
  </div>
  <div class="field">
    <%= f.label :street %><br>
    <%= f.text_field :street %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :state %><br>
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :zip %><br>
    <%= f.text_field :zip %>
  </div>
  <div class="field">
    <%= f.label :latitude %><br>
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br>
    <%= f.text_field :longitude %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :credit %><br>
    <%= f.text_field :credit %>
  </div>
  <div class="field">
    <%= f.label :bakedgoods %><br>
    <%= f.text_field :bakedgoods %>
  </div>
  <div class="field">
    <%= f.label :maple %><br>
    <%= f.text_field :maple %>
  </div>
  <div class="field">
    <%= f.label :meat %><br>
    <%= f.text_field :meat %>
  </div>
  <div class="field">
    <%= f.label :nursery %><br>
    <%= f.text_field :nursery %>
  </div>
  <div class="field">
    <%= f.label :nuts %><br>
    <%= f.text_field :nuts %>
  </div>
  <div class="field">
    <%= f.label :plants %><br>
    <%= f.text_field :plants %>
  </div>
  <div class="field">
    <%= f.label :poultry %><br>
    <%= f.text_field :poultry %>
  </div>
  <div class="field">
    <%= f.label :prepared %><br>
    <%= f.text_field :prepared %>
  </div>
  <div class="field">
    <%= f.label :soap %><br>
    <%= f.text_field :soap %>
  </div>
  <div class="field">
    <%= f.label :trees %><br>
    <%= f.text_field :trees %>
  </div>
  <div class="field">
    <%= f.label :wine %><br>
    <%= f.text_field :wine %>
  </div>
  <div class="field">
    <%= f.label :updatetime %><br>
    <%= f.text_field :updatetime %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
