<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @market.name %>
</p>

<p>
  <strong>Website:</strong>
  <%= @market.website %>
</p>

<p>
  <strong>Street:</strong>
  <%= @market.street %>
</p>

<p>
  <strong>City:</strong>
  <%= @market.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @market.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @market.zip %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @market.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @market.longitude %>
</p>

<p>
  <strong>Location:</strong>
  <%= @market.location %>
</p>

<p>
  <strong>Credit:</strong>
  <%= @market.credit %>
</p>

<p>
  <strong>Bakedgoods:</strong>
  <%= @market.bakedgoods %>
</p>

<p>
  <strong>Maple:</strong>
  <%= @market.maple %>
</p>

<p>
  <strong>Meat:</strong>
  <%= @market.meat %>
</p>

<p>
  <strong>Nursery:</strong>
  <%= @market.nursery %>
</p>

<p>
  <strong>Nuts:</strong>
  <%= @market.nuts %>
</p>

<p>
  <strong>Plants:</strong>
  <%= @market.plants %>
</p>

<p>
  <strong>Poultry:</strong>
  <%= @market.poultry %>
</p>

<p>
  <strong>Prepared:</strong>
  <%= @market.prepared %>
</p>

<p>
  <strong>Soap:</strong>
  <%= @market.soap %>
</p>

<p>
  <strong>Trees:</strong>
  <%= @market.trees %>
</p>

<p>
  <strong>Wine:</strong>
  <%= @market.wine %>
</p>

<p>
  <strong>Updatetime:</strong>
  <%= @market.updatetime %>
</p>

<%= link_to 'Edit', edit_market_path(@market) %> |
<%= link_to 'Back', markets_path %>
