<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @market.name %>
</p>

<p>
  <strong>Website:</strong>
  <%= @market.website %>
</p>

<p>
  <strong>Street:</strong>
  <%= @market.street %>
</p>

<p>
  <strong>City:</strong>
  <%= @market.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @market.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @market.zip %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @market.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @market.longitude %>
</p>

<p>
  <strong>Description:</strong>
  <%= @market.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag(@market.image) %>
</p>

<%= link_to 'Edit', edit_market_path(@market) %> |
<%= link_to 'Back', markets_path %>
